*{
	margin:0px;
	padding:0px;
}

body{
	background:#F2F2F2;
}

.test,.result{
	background:#FFF;
	padding-bottom:20px;
}

.test .cover{
	height:200px;
	overflow:hidden;
}

.test .cover img{
	width:100%;
	height:auto;
}

.test h1{
	max-width:70%;
	line-height:24px;
	padding:8px 10px;
	overflow:hidden;
	position:absolute;
	top:120px;
	left:0;
	background:rgba(0,0,0,0.5);
	color:#FFF;
	font-size:20px;
	font-weight:bold;
}

.test .zhidaoyu{
	margin-top:10px;
	padding:0 20px;
	color:#666;
	font-size:16px;
	line-height:24px;
	text-indent:2em;
}

.test form{
	margin-top:10px;
	width:200px;
}

.input-name{
	background-color:#FFFFFF;
	border:1px solid #ccc;
	text-align:center;
	font-size:18px;
	width:100%;
	padding:10px 0px;
	margin-top: 10px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn-start{
	border: 0 none;
	background-color: #ff7241;
	color: #fff;
	margin-top:10px;
	height:50px;
	line-height:50px;
	font-size:18px;
	width:100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#ff7241), to(#ff7241));
}

.btn{
	border: 0 none;
	background-color: #57c1f2;
	color: #fff;
	padding:10px 0px;
	font-size:18px;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#57c1f2), to(#57c1f2));
}

.res-img{
	padding-top:10px;
}

.res-img img{
	width:60%;
	height:auto;
	border-radius:50%;
	overflow:hidden;
}

.res-title{
	margin-top:10px;
	font-size:22px;
	line-height:30px;
	color:#999;
	padding:0px 20px;
}

.res-des{
	text-align:left;
	margin:10px 20px;
	font-size:14px;
	line-height:24px;
	color:#999;
	padding:10px 20px;
	border-top:#DDD 1px solid;
}

.share{
	position:fixed;
	background:rgba(0,0,0,.75);
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
}
.share img{
	position:absolute;
	top:10px;
	right:0;
	z-index:100;
}

.foot-btn{
	margin-top:10px;
}

.more_list_2{
	background:#fff;
	font-size:14px;
	text-align:left;
	margin-top:15px;
	padding-bottom:20px;
}
.more_list_2 h2{
	font-size:18px;
	color:#111;
	height:50px;
	line-height:50px;
	background:url(http://cdn.bbyxy.com/dzxl/img/m1.jpg) no-repeat left center;
	padding-left:20px;
	margin-top:10px;
	
}
.more_list_2 ul{
	padding:0px 20px 20px 20px;
}
.more_list_2 a{
	color:#333;
	text-decoration:none;
}
.more_list_2 li{
	list-style-type:none;
	width:46%;
	float:left;
	height:36px;
	line-height:36px;
	overflow:hidden;
	border-bottom:#EEE 1px solid;
}
.more_list_2 li:nth-of-type(2n+1){padding-right:10px;}/*奇数行*/
.more_list_2 li:nth-of-type(2n){border-left:#EEE 1px solid;padding-left:10px;}/*偶数行*/
.more_list_2 li:nth-of-type(1),li:nth-of-type(2){border-top:#EEE 1px solid;}
