@charset "utf-8";
/**
 * 视频详情页样式
 * @author lizhigao(lizhigao@021.com)
 * @date 2016-05-12
 */
body{padding-top: 0 !important; color: #333; background-color: #F8F8F8;}
.content{padding-bottom: 0.2rem;}
.video-wrap{position: relative; width: 100%; overflow: hidden; background-color: #000; padding-bottom: 56.25%;}
.video-box{position: absolute; top: 0; left: 0; background-color: #000; margin: auto; width: 100%; height: 100%;}
.video-box .video{position: relative; display: block; top: 0; left: 0; width: 100%; height: 100%; background: #000;}
.video-title{margin: 0.2rem 0.3rem 0; max-height: 1.04rem; overflow: hidden;}
.video-title h1{font-size: 0.34rem; line-height: 1.4;}

/* 相关视频 */
.related-tit{padding-right: 0.3rem;}
.related-tit h2{text-align: right; font-size: 0.3rem; padding-right: 0.3rem;}

.news-item a{display: block; width: 100%; height: 1.74rem; padding: .24rem .3rem;}
.news-item a .news-wrap{border-bottom: 1px solid #e5e5e5; padding-bottom: .24rem; height: 1.5rem;}
.news-item:last-child a .news-wrap{border-bottom: 0 none;}
.news-item a .txt-wrap{position: relative; width: 4.5rem; height: 1.25rem;}
.news-item a .txt-wrap h3{font-size: .34rem; color: #333; width: 100%; height: .8rem; line-height: 1.2em; overflow: hidden;}
.news-item a .txt-wrap p{position: absolute; bottom: 0; width: 100%; font-size: .2rem; color: #999;}
.news-item a .img-wrap{position: relative; width: 1.8rem; height: 1.25rem;}
.news-item a .img-wrap img{width: 100%; height: 100%;}
.news-item a .img-wrap .duration{position: absolute; right: 2px; bottom: 2px; color: #fff; font-size: 12px; background-color: rgba(45,45,45,.6); display: block; padding: 2px 5px; border-radius: 10px;}


footer a{display: block; width: 100%; padding: 0.2rem 0; text-align: center; font-size: 0.34rem; color: #fff; background-color: #f67373;}





